@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-premium-dark text-slate-50;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-emerald-400;
}